
# NSI TERMINAL      LES BASES DE DONNEES

# ACTIVITE N°2 /---------LES BASES DU LANGAGE SQL 





SPECIALITE NSI TERMINAL ------------------------------------------------------------------------- Lycée Gaston Monnerville

-----------------------------------------------------------------------------
-----------------------------------------------------------------------------

## A) INSTALLATION DES MODULES
=========================================================


Il est nécessaire, si les modules ne sont pas chargés automatiquement, de le faire, afin d'utiliser des commandes SQL directement dans l'interpréteur python.
Ici nous avons besoin des modules jupiter-sql et ipython-sql, dont vous trouverez la documentation ici :
* [La documentation du module ipython-sql](https://github.com/catherinedevlin/ipython-sql)
* [La documentation du module jupiter-sql](https://jupyter.org/)


Enfin nous travaillons sur des bases SQLite dont vous trouverez la documentation [ICI](https://riptutorial.com/fr/sqlite).

In [ ]:
pip install jupyter-sql
pip install ipython-sql

Attention !!! Une erreur peut être générée suivant l'état de l'interface, ce qui est normal !

![Une réunion réussie](1_cEKvZI4GgZR6NsfbAhVRyA.jpeg)

## B) MISE EN PLACE DE L'INTERFACE
=============================================================


Premièrement nous chargeons l'extension python sql, ce qui va nous permettre d'écrire directement des instructions sql après le caractère **%sql**.

En même temps, nous chargeons les autres modules nécessaires.

In [ ]:
%load_ext sql

## C) CREATION DE LA BASE DE DONNEES
=================================================================


Nous allons créer une base de données "élèves du lycée" comme présenter sur le schéma suivant :
![schéma de la base](ElevesLycee.gif)

In [ ]:
%sql sqlite:///eleves_Lycee_Gaston_Monnerville

Maintenant créons notre première table "Eleves"de la manière suivante,

In [ ]:
%%sql 
CREATE TABLE Eleves 
(
IdEleve INTEGER  PRIMARY KEY,
nom     TEXT,
prenom  TEXT,
adresse TEXT,
cp   TEXT,
ville TEXT,
telFixe TEXT,
telPortable TEXT
);

Ici il n'y a pas de clé étrangère dans la table, mais dans le cas où il y en a une, il suffit d'ajouter :

FOREIGN KEY(attribut) REFERENCES table(attribut) à la création.

Maintenant ajoutons à notre base des élèves:

In [ ]:
%%sql
INSERT INTO Eleves 
    
VALUES
    (1,"hugo","victor","Rue ecoute pluie","97310","KOUROU","0594223586","0694721792"),
    (2,"premier","François","Avenue des roches","97310","KOUROU","0594586545","0694112233");

En utilisant l'instruction SELECT du langage sql, nous pouvons vérifier si notre base a été changée.

In [ ]:
%%sql

SELECT * FROM Eleves;

Nous pouvons même affecter cette ligne de code à une variable !

In [ ]:
resultat = %sql SELECT * FROM Eleves;

Et voir le résultat, comme cela :

In [ ]:
print(resultat)

Ou encore de la manière brute suivante ,

In [ ]:
resultat

Noter qu'il est possible d'accéder à chaque enregistrement (uplet). Voir ci-après.

In [ ]:
resultat[0]

In [ ]:
resultat[1]

## D) A VOUS DE JOUER !
==================================================


Maintenant vous allez créer la table Inscriptions.
Je vous aide un peu,

In [ ]:
%%sql 
CREATE TABLE Inscriptions 
(
# attribut1 INTEGER  PRIMARY KEY,
# IdEleve TYPE,
# attribut3 TYPE,
FOREIGN KEY(IdEleve) REFERENCES Eleves(IdEleve)

);

De nouveau pour la table Matières,

In [ ]:
#A vous de compléter
#.............
#..............
#..............
#..............
#..............

Et pour finir la table Enseignants,

In [ ]:
#A vous de compléter
#.............
#..............
#..............
#..............
#..............
#.............
#..............
#..............
#..............

Et la table Résultat,

In [ ]:
#A vous de compléter
#.............
#..............
#..............
#..............
#..............

Nous sommes arrivés à la fin, de la création.
Il suffit d'enregistrer de nouveaux p-uplets dans chaque table de la manière suivante :
Ici pour la table enseignant,

In [ ]:
%%sql
INSERT INTO Enseignants 
    
VALUES
    (1,"barske","bruno","19 rue Alexander Fleming","97310","KOUROU","0594220188","0694272892");

Insérer un nouvelle uplet dans la table Enseignants, voire plusieurs.......

In [ ]:
#A vous de compléter
#.............
#..............
#..............
#..............
#..............

Puis dans les autres tables, Matières, Resultats, Inscriptions.

In [ ]:
#A vous de compléter
#.............
#..............
#..............
#..............
#..............

Et compléter la table Eleves, avec les uplets composés des élèves de la classe :

In [ ]:
#A vous de compléter
#.............
#..............
#..............
#..............
#..............

## E) VISUALISATION DE LA BASE
====================================================

Afin de vérifier votre travail, proposer un certain nombre de lignes de code pour afficher les tables.

In [1]:
#A vous de compléter
#.............
#..............
#..............
#..............
#..............